Repository pigfoot/claude-code-hubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, yamllint, markdownlint, check-plugin-json-syntax, check-plugin-required-fields, check-version-consistency, validate-skill-metadata

ruff-check:
  name: Ruff linter
  entry: uvx --managed-python ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: Ruff formatter
  entry: uvx --managed-python ruff format
  language: system
  require_serial: true

yamllint:
  name: YAML linter
  entry: uvx --managed-python yamllint -c .yamllint.yaml
  language: system

markdownlint:
  name: Markdown linter
  entry: bunx markdownlint-cli --config .markdownlint.json --fix
  language: system

check-plugin-json-syntax:
  name: Validate plugin.json syntax
  entry: bash -c
  language: system
  pass_filenames: false
  args:
  - -c
  - "for f in plugins/*/.claude-plugin/plugin.json; do\n  jq empty \"$f\" 2>/dev/null || { echo \"Invalid JSON: $f\"; exit 1; }\ndone\n"

check-plugin-required-fields:
  name: Check plugin.json required fields
  entry: bash -c
  language: system
  pass_filenames: false
  args:
  - -c
  ...

check-version-consistency:
  name: Check version consistency
  entry: uv run --managed-python scripts/check-versions.py
  language: system
  pass_filenames: false

validate-skill-metadata:
  name: Validate SKILL.md frontmatter
  entry: uv run --managed-python scripts/validate-skill.py
  language: system
  pass_filenames: false
  args:
  - feat
  - fix
  - docs
  - style
  - refactor
  - perf
  - test
  - build
  - ci
  - chore
  - revert

🎨 style: apply ruff formatter to Python files
  plugins/confluence/skills/confluence/scripts/add_blockquote.py
  plugins/confluence/skills/confluence/scripts/add_date.py
  plugins/confluence/skills/confluence/scripts/add_emoji.py
  plugins/confluence/skills/confluence/scripts/add_inline_card.py
  plugins/confluence/skills/confluence/scripts/add_list_item.py
  plugins/confluence/skills/confluence/scripts/add_media.py
  plugins/confluence/skills/confluence/scripts/add_media_group.py
  plugins/confluence/skills/confluence/scripts/add_mention.py
  plugins/confluence/skills/confluence/scripts/add_nested_expand.py
  plugins/confluence/skills/confluence/scripts/add_panel.py
  plugins/confluence/skills/confluence/scripts/add_rule.py
  plugins/confluence/skills/confluence/scripts/add_status.py
  plugins/confluence/skills/confluence/scripts/add_table_row.py
  plugins/confluence/skills/confluence/scripts/add_to_codeblock.py
  plugins/confluence/skills/confluence/scripts/analyze_page.py
  plugins/confluence/skills/confluence/scripts/confluence_adf_utils.py
  plugins/confluence/skills/confluence/scripts/confluence_router.py
  plugins/confluence/skills/confluence/scripts/convert_markdown_to_wiki.py
  plugins/confluence/skills/confluence/scripts/download_confluence.py
  plugins/confluence/skills/confluence/scripts/insert_section.py
  plugins/confluence/skills/confluence/scripts/mcp_json_diff_roundtrip.py
  plugins/confluence/skills/confluence/scripts/roundtrip_helper.py
  plugins/confluence/skills/confluence/scripts/smart_search.py
  plugins/confluence/skills/confluence/scripts/upload_confluence.py
  plugins/confluence/skills/confluence/scripts/url_resolver.py
  plugins/nano-banana/skills/nano-banana/generate_images.py
  plugins/nano-banana/skills/nano-banana/logo_overlay.py
Due: ruff-check, ruff-format

🔧 chore: normalize plugin.json formatting
  plugins/commit/.claude-plugin/plugin.json
  plugins/github-actions-container-build/.claude-plugin/plugin.json
  plugins/secure-container-build/.claude-plugin/plugin.json
Due: check-plugin-json-syntax, check-plugin-required-fields, check-version-consistency

🔥 chore: remove deprecated openspec/AGENTS.md and update secrets baseline
  .secrets.baseline
  openspec/AGENTS.md
Due: markdownlint

🐛 fix(confluence): fix markdown rendering and upload intent detection
  plugins/confluence/skills/confluence/SKILL.md
  plugins/confluence/skills/confluence/scripts/upload_confluence.py
Due: ruff-check, ruff-format, markdownlint, check-version-consistency, validate-skill-metadata

🔧 chore: add pre-commit hook to auto-update superpowers version
  .claude-plugin/marketplace.json
  .pre-commit-config.yaml
Due: yamllint

📝 docs: restructure CLAUDE.md with clearer organization
  .CLAUDE.md
  .secrets.baseline
Due: markdownlint

📝 docs: optimize global CLAUDE.md for token efficiency
  .CLAUDE.md
Due: markdownlint

♻️ refactor: standardize skill script paths to relative format
  .secrets.baseline
  plugins/confluence/README.md
  plugins/confluence/skills/confluence/SKILL.md
  plugins/confluence/skills/confluence/references/troubleshooting.md
  plugins/nano-banana/skills/nano-banana/SKILL.md
  plugins/nano-banana/skills/nano-banana/references/batch-generation.md
  plugins/nano-banana/skills/nano-banana/scripts/generate_images.py
  plugins/nano-banana/skills/nano-banana/scripts/logo_overlay.py
Due: ruff-check, ruff-format, markdownlint, check-version-consistency, validate-skill-metadata

✨ feat: add taiwan-calendar plugin for accurate date queries
  .claude-plugin/marketplace.json
  .markdownlintignore
  README.md
  openspec/changes/archive/2026-02-04-taiwan-calendar-skill/.openspec.yaml
  openspec/changes/archive/2026-02-04-taiwan-calendar-skill/design.md
  openspec/changes/archive/2026-02-04-taiwan-calendar-skill/proposal.md
  openspec/changes/archive/2026-02-04-taiwan-calendar-skill/specs/taiwan-calendar/spec.md
  openspec/changes/archive/2026-02-04-taiwan-calendar-skill/tasks.md
  openspec/specs/taiwan-calendar/spec.md
  plugins/taiwan-calendar/.claude-plugin/plugin.json
  plugins/taiwan-calendar/README.md
  plugins/taiwan-calendar/skills/taiwan-calendar/SKILL.md
  plugins/taiwan-calendar/skills/taiwan-calendar/scripts/__pycache__/taiwan_calendar.cpython-314.pyc
  plugins/taiwan-calendar/skills/taiwan-calendar/scripts/taiwan_calendar.py
Due: ruff-check, ruff-format, yamllint, markdownlint, check-plugin-json-syntax, check-plugin-required-fields, check-version-consistency, validate-skill-metadata

✨ feat: nano-banana v0.1.0 - logo update and stability improvements
  .claude-plugin/marketplace.json
  .secrets.baseline
  README.md
  openspec/changes/nano-banana-v010-update/.openspec.yaml
  openspec/changes/nano-banana-v010-update/design.md
  openspec/changes/nano-banana-v010-update/proposal.md
  openspec/changes/nano-banana-v010-update/specs/brand-styling/spec.md
  openspec/changes/nano-banana-v010-update/specs/error-handling/spec.md
  openspec/changes/nano-banana-v010-update/specs/logo-overlay/spec.md
  openspec/changes/nano-banana-v010-update/specs/python-compatibility/spec.md
  openspec/changes/nano-banana-v010-update/tasks.md
  plugins/nano-banana/.claude-plugin/plugin.json
  plugins/nano-banana/README.md
  plugins/nano-banana/skills/nano-banana/SKILL.md
  plugins/nano-banana/skills/nano-banana/assets/README.md
  plugins/nano-banana/skills/nano-banana/assets/logos/README.md
  plugins/nano-banana/skills/nano-banana/assets/logos/trendlife-2026-logo-light.png
  plugins/nano-banana/skills/nano-banana/assets/logos/trendlife-logo.png
  plugins/nano-banana/skills/nano-banana/references/brand-styles.md
  plugins/nano-banana/skills/nano-banana/scripts/generate_images.py
  plugins/nano-banana/skills/nano-banana/scripts/logo_overlay.py
Due: ruff-check, ruff-format, yamllint, markdownlint, check-plugin-json-syntax, check-plugin-required-fields, check-version-consistency, validate-skill-metadata

✨ feat: add taiwan-mrt-fareastern-empty-train plugin v0.0.1
  .claude-plugin/marketplace.json
  README.md
  plugins/taiwan-mrt-fareastern-empty-train/.claude-plugin/plugin.json
  plugins/taiwan-mrt-fareastern-empty-train/README.md
  plugins/taiwan-mrt-fareastern-empty-train/skills/taiwan-mrt-fareastern-empty-train/SKILL.md
  plugins/taiwan-mrt-fareastern-empty-train/skills/taiwan-mrt-fareastern-empty-train/scripts/mrt_empty_train.py
Due: ruff-check, ruff-format, markdownlint, check-plugin-json-syntax, check-plugin-required-fields, check-version-consistency, validate-skill-metadata

✨ feat(confluence): fix media upload and add general attachment support
  .claude-plugin/marketplace.json
  README.md
  docs/plans/007-confluence-attachment-upload/README.md
  docs/plans/007-confluence-attachment-upload/research.md
  openspec/changes/archive/2026-03-24-confluence-attachment-upload/.openspec.yaml
  openspec/changes/archive/2026-03-24-confluence-attachment-upload/design.md
  openspec/changes/archive/2026-03-24-confluence-attachment-upload/proposal.md
  openspec/changes/archive/2026-03-24-confluence-attachment-upload/specs/attachment-upload/spec.md
  openspec/changes/archive/2026-03-24-confluence-attachment-upload/specs/confluence-roundtrip/spec.md
  openspec/changes/archive/2026-03-24-confluence-attachment-upload/tasks.md
  openspec/specs/attachment-upload/spec.md
  openspec/specs/confluence-roundtrip/spec.md
  plugins/confluence/README.md
  plugins/confluence/skills/confluence/SKILL.md
  plugins/confluence/skills/confluence/scripts/add_media.py
  plugins/confluence/skills/confluence/scripts/add_media_group.py
  plugins/confluence/skills/confluence/scripts/confluence_adf_utils.py
  plugins/confluence/skills/confluence/scripts/upload_attachment.py
Due: ruff-check, ruff-format, yamllint, markdownlint, check-version-consistency, validate-skill-metadata

✨ feat(confluence): add full-width page layout and table column width control
  .secrets.baseline
  README.md
  docs/plans/008-confluence-page-formatting/research.md
  openspec/changes/archive/2026-03-24-confluence-page-formatting/.openspec.yaml
  openspec/changes/archive/2026-03-24-confluence-page-formatting/design.md
  openspec/changes/archive/2026-03-24-confluence-page-formatting/proposal.md
  openspec/changes/archive/2026-03-24-confluence-page-formatting/specs/page-formatting/spec.md
  openspec/changes/archive/2026-03-24-confluence-page-formatting/tasks.md
  openspec/specs/page-formatting/spec.md
  plugins/confluence/README.md
  plugins/confluence/skills/confluence/SKILL.md
  plugins/confluence/skills/confluence/scripts/upload_confluence.py
Due: ruff-check, ruff-format, yamllint, markdownlint, check-version-consistency, validate-skill-metadata

✨ feat(confluence): add v2 ADF-native roundtrip for download/upload
  openspec/changes/archive/2026-03-25-v2-api-roundtrip/design.md
  openspec/changes/archive/2026-03-25-v2-api-roundtrip/proposal.md
  openspec/changes/archive/2026-03-25-v2-api-roundtrip/specs/adf-markdown-conversion/spec.md
  openspec/changes/archive/2026-03-25-v2-api-roundtrip/specs/confluence-roundtrip/spec.md
  openspec/changes/archive/2026-03-25-v2-api-roundtrip/tasks.md
  openspec/specs/adf-markdown-conversion/spec.md
  openspec/specs/confluence-roundtrip/spec.md
  plugins/confluence/plans/v2-api-roundtrip-migration.md
  plugins/confluence/skills/confluence/SKILL.md
  plugins/confluence/skills/confluence/references/roundtrip-implementation-comparison.md
  plugins/confluence/skills/confluence/scripts/add_panel.py
  plugins/confluence/skills/confluence/scripts/adf_to_markdown.py
  plugins/confluence/skills/confluence/scripts/confluence_adf_utils.py
  plugins/confluence/skills/confluence/scripts/download_confluence.py
  plugins/confluence/skills/confluence/scripts/markdown_to_adf.py
  plugins/confluence/skills/confluence/scripts/upload_confluence.py
Due: ruff-check, ruff-format, markdownlint, check-version-consistency, validate-skill-metadata

✨ feat(confluence): add test suite, markdown pre-processor, and ADF-only architecture cleanup
  .claude-plugin/marketplace.json
  docs/plans/009-v2-api-roundtrip-migration/v2-api-roundtrip-migration.md
  openspec/changes/archive/2026-03-27-confluence-adf-architecture-cleanup/.openspec.yaml
  openspec/changes/archive/2026-03-27-confluence-adf-architecture-cleanup/design.md
  openspec/changes/archive/2026-03-27-confluence-adf-architecture-cleanup/proposal.md
  openspec/changes/archive/2026-03-27-confluence-adf-architecture-cleanup/specs/adf-markdown-conversion/spec.md
  openspec/changes/archive/2026-03-27-confluence-adf-architecture-cleanup/specs/confluence-roundtrip/spec.md
  openspec/changes/archive/2026-03-27-confluence-adf-architecture-cleanup/tasks.md
  openspec/specs/confluence-roundtrip/spec.md
  plugins/confluence/DEVELOPMENT.md
  plugins/confluence/README.md
  plugins/confluence/skills/confluence/SKILL.md
  plugins/confluence/skills/confluence/references/comparison-tables.md
  plugins/confluence/skills/confluence/references/macro-preservation-guide.md
  plugins/confluence/skills/confluence/references/markdown-first-workflow.md
  plugins/confluence/skills/confluence/references/roundtrip-implementation-comparison.md
  plugins/confluence/skills/confluence/references/roundtrip-workflow.md
  plugins/confluence/skills/confluence/scripts/adf_to_markdown.py
  plugins/confluence/skills/confluence/scripts/download_confluence.py
  plugins/confluence/skills/confluence/scripts/markdown_to_adf.py
  plugins/confluence/skills/confluence/scripts/upload_confluence.py
  plugins/confluence/tests/capture_fixture.py
  plugins/confluence/tests/conftest.py
  plugins/confluence/tests/fixtures/macro_integration_test.json
  plugins/confluence/tests/test_adf_to_markdown.py
  plugins/confluence/tests/test_integration.py
  plugins/confluence/tests/test_roundtrip.py
Due: ruff-check, ruff-format, yamllint, markdownlint, check-version-consistency, validate-skill-metadata

🔧 chore(nano-banana): add openclaw primaryEnv for GOOGLE_API_KEY
  .secrets.baseline
  plugins/nano-banana/skills/nano-banana/SKILL.md
Due: markdownlint, check-version-consistency, validate-skill-metadata

📝 docs(confluence): restore critical SKILL.md sections removed during optimization
  plugins/confluence/skills/confluence/SKILL.md
Due: markdownlint, check-version-consistency, validate-skill-metadata

✨ feat(confluence): add inline mark parsing for structural scripts
  plugins/confluence/skills/confluence/SKILL.md
  plugins/confluence/skills/confluence/scripts/add_blockquote.py
  plugins/confluence/skills/confluence/scripts/add_list_item.py
  plugins/confluence/skills/confluence/scripts/add_nested_expand.py
  plugins/confluence/skills/confluence/scripts/add_panel.py
  plugins/confluence/skills/confluence/scripts/confluence_adf_utils.py
  plugins/confluence/skills/confluence/scripts/insert_section.py
  plugins/confluence/tests/test_roundtrip.py
Due: ruff-check, ruff-format, markdownlint, check-version-consistency, validate-skill-metadata

🐛 fix(confluence): normalize ADF marks to prevent spurious version diffs
  plugins/confluence/DEVELOPMENT.md
  plugins/confluence/skills/confluence/scripts/confluence_adf_utils.py
  plugins/confluence/tests/test_roundtrip.py
Due: ruff-check, ruff-format, markdownlint

🔧 chore(skills): support bundled .env for Claude Desktop skill packaging
  plugins/confluence/skills/confluence/SKILL.md
  plugins/confluence/skills/confluence/scripts/confluence_adf_utils.py
  plugins/confluence/skills/confluence/scripts/download_confluence.py
  plugins/confluence/skills/confluence/scripts/upload_confluence.py
  plugins/nano-banana/skills/nano-banana/scripts/generate_images.py
Due: ruff-check, ruff-format, markdownlint, check-version-consistency, validate-skill-metadata

✨ feat(confluence): remove MCP dependency, add REST API scripts v0.2.0
  .claude-plugin/marketplace.json
  README.md
  openspec/changes/archive/2026-04-08-confluence-mcp-removal/.openspec.yaml
  openspec/changes/archive/2026-04-08-confluence-mcp-removal/design.md
  openspec/changes/archive/2026-04-08-confluence-mcp-removal/proposal.md
  openspec/changes/archive/2026-04-08-confluence-mcp-removal/specs/rest-cql-search/spec.md
  openspec/changes/archive/2026-04-08-confluence-mcp-removal/specs/rest-page-read/spec.md
  openspec/changes/archive/2026-04-08-confluence-mcp-removal/specs/smart-routing/spec.md
  openspec/changes/archive/2026-04-08-confluence-mcp-removal/specs/smart-search/spec.md
  openspec/changes/archive/2026-04-08-confluence-mcp-removal/tasks.md
  openspec/specs/rest-cql-search/spec.md
  openspec/specs/rest-page-read/spec.md
  openspec/specs/smart-search/spec.md
  plugins/confluence/.claude-plugin/plugin.json
  plugins/confluence/.mcp.json
  plugins/confluence/DEVELOPMENT.md
  plugins/confluence/README.md
  plugins/confluence/skills/confluence/SKILL.md
  plugins/confluence/skills/confluence/references/mention-account-id-lookup.md
  plugins/confluence/skills/confluence/references/roundtrip-implementation-comparison.md
  plugins/confluence/skills/confluence/references/roundtrip-workflow.md
  plugins/confluence/skills/confluence/scripts/confluence_router.py
  plugins/confluence/skills/confluence/scripts/mcp_json_diff_roundtrip.py
  plugins/confluence/skills/confluence/scripts/read_page.py
  plugins/confluence/skills/confluence/scripts/search_cql.py
  plugins/confluence/skills/confluence/scripts/smart_search.py
  plugins/confluence/tests/test_integration.py
  plugins/confluence/tests/test_read_page.py
  plugins/confluence/tests/test_search_cql.py
Due: ruff-check, ruff-format, yamllint, markdownlint, check-plugin-json-syntax, check-plugin-required-fields, check-version-consistency, validate-skill-metadata

🐛 fix(confluence): correct Rovo MCP tool name to mcp__claude_ai_Atlassian_Rovo__searchAtlassian
  .secrets.baseline
  README.md
  plugins/confluence/README.md
  plugins/confluence/skills/confluence/SKILL.md
  plugins/confluence/skills/confluence/references/mention-account-id-lookup.md
  plugins/confluence/skills/confluence/scripts/confluence_router.py
  plugins/confluence/skills/confluence/scripts/smart_search.py
  plugins/confluence/tests/test_integration.py
  plugins/confluence/tests/test_search_cql.py
Due: ruff-check, ruff-format, markdownlint, check-version-consistency, validate-skill-metadata

🐛 fix(url_resolver): correct Confluence TinyUI base64 character mapping
  plugins/confluence/skills/confluence/scripts/url_resolver.py
  plugins/confluence/tests/test_read_page.py
Due: ruff-check, ruff-format

🔧 chore(superpowers): migrate from pigfoot-marketplace to official marketplace
  .claude-plugin/marketplace.json
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
Due: yamllint, markdownlint, check-version-consistency

✨ feat(nano-banana): migrate from google-genai to openai library v0.2.0
  .secrets.baseline
  README.md
  openspec/changes/archive/2026-05-13-nano-banana-gpt-image2/.openspec.yaml
  openspec/changes/archive/2026-05-13-nano-banana-gpt-image2/design.md
  openspec/changes/archive/2026-05-13-nano-banana-gpt-image2/proposal.md
  openspec/changes/archive/2026-05-13-nano-banana-gpt-image2/specs/gpt-image2-editing/spec.md
  openspec/changes/archive/2026-05-13-nano-banana-gpt-image2/specs/gpt-image2-generation/spec.md
  openspec/changes/archive/2026-05-13-nano-banana-gpt-image2/specs/unified-generation/spec.md
  openspec/changes/archive/2026-05-13-nano-banana-gpt-image2/tasks.md
  openspec/changes/archive/2026-05-13-nano-banana-openai-migration/.openspec.yaml
  openspec/changes/archive/2026-05-13-nano-banana-openai-migration/design.md
  openspec/changes/archive/2026-05-13-nano-banana-openai-migration/proposal.md
  openspec/changes/archive/2026-05-13-nano-banana-openai-migration/specs/batch-generation/spec.md
  openspec/changes/archive/2026-05-13-nano-banana-openai-migration/specs/openai-compat-client/spec.md
  openspec/changes/archive/2026-05-13-nano-banana-openai-migration/specs/unified-generation/spec.md
  openspec/changes/archive/2026-05-13-nano-banana-openai-migration/tasks.md
  openspec/specs/batch-generation/spec.md
  openspec/specs/gpt-image2-editing/spec.md
  openspec/specs/gpt-image2-generation/spec.md
  openspec/specs/openai-compat-client/spec.md
  openspec/specs/unified-generation/spec.md
  plugins/confluence/skills/confluence/SKILL.md
  plugins/github-actions-container-build/skills/github-actions-container-build/SKILL.md
  plugins/nano-banana/.claude-plugin/plugin.json
  plugins/nano-banana/README.md
  plugins/nano-banana/skills/nano-banana/.gitignore
  plugins/nano-banana/skills/nano-banana/SKILL.md
  plugins/nano-banana/skills/nano-banana/references/api-compatibility.md
  plugins/nano-banana/skills/nano-banana/references/batch-generation.md
  plugins/nano-banana/skills/nano-banana/references/guide.md
  plugins/nano-banana/skills/nano-banana/scripts/generate_images.py
  plugins/nano-banana/skills/nano-banana/scripts/test_gpt_image.py
  plugins/secure-container-build/skills/secure-container-build/SKILL.md
  plugins/taiwan-calendar/skills/taiwan-calendar/SKILL.md
  plugins/taiwan-mrt-fareastern-empty-train/skills/taiwan-mrt-fareastern-empty-train/SKILL.md
Due: ruff-check, ruff-format, yamllint, markdownlint, check-plugin-json-syntax, check-plugin-required-fields, check-version-consistency, validate-skill-metadata

chore: remove tracked pycache, add __pycache__ to gitignore
  .gitignore
  plugins/taiwan-calendar/skills/taiwan-calendar/scripts/__pycache__/taiwan_calendar.cpython-314.pyc
Due: none

docs: add skipAutoPermissionPrompt and defaultMode to setup script
  .secrets.baseline
  README.md
Due: markdownlint, check-version-consistency

feat(commit): add context injection, commit-push-pr skill, remove emoji v0.0.2
  .claude-plugin/marketplace.json
  README.md
  plugins/commit/.claude-plugin/plugin.json
  plugins/commit/README.md
  plugins/commit/skills/commit-push-pr/SKILL.md
  plugins/commit/skills/commit/SKILL.md
Due: markdownlint, check-plugin-json-syntax, check-plugin-required-fields, check-version-consistency, validate-skill-metadata

fix(nano-banana): restrict Python to <3.14, pydantic-core incompatible with 3.14
  plugins/nano-banana/skills/nano-banana/scripts/generate_images.py
Due: ruff-check, ruff-format

refactor(nano-banana): slim SKILL.md 737→193 lines, extract to references/
  plugins/nano-banana/skills/nano-banana/SKILL.md
  plugins/nano-banana/skills/nano-banana/references/config-reference.md
  plugins/nano-banana/skills/nano-banana/references/examples.md
  plugins/nano-banana/skills/nano-banana/references/logo-overlay.md
  plugins/nano-banana/skills/nano-banana/references/temperature-seed.md
  plugins/nano-banana/skills/nano-banana/references/troubleshooting.md
Due: markdownlint, check-version-consistency, validate-skill-metadata

docs: add HANDOFF.md writing rules (reference not duplicate, redact secrets, check gitignore)
  .CLAUDE.md
Due: markdownlint

feat(grill-me): add grill-me plugin to stress-test plans via relentless interview
  .claude-plugin/marketplace.json
  README.md
  plugins/grill-me/.claude-plugin/plugin.json
  plugins/grill-me/README.md
  plugins/grill-me/skills/grill-me/SKILL.md
Due: markdownlint, check-plugin-json-syntax, check-plugin-required-fields, check-version-consistency, validate-skill-metadata

docs(readme): add grill-me section, fix superpowers/context7 update instructions
  .secrets.baseline
  README.md
Due: markdownlint, check-version-consistency

docs(readme): switch defaultMode to bypassPermissions, add skipDangerousModePermissionPrompt
  .secrets.baseline
  README.md
Due: markdownlint, check-version-consistency

docs(readme): remove dead .specify/scripts/bash permissions
  .secrets.baseline
  README.md
Due: markdownlint, check-version-consistency

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: CHANGELOG.md
  check-plugin-json-syntax: any of: \.claude-plugin/plugin\.json$
  check-plugin-required-fields: any of: \.claude-plugin/plugin\.json$
  check-version-consistency: any of: (plugin\.json|SKILL\.md|README\.md)$
  validate-skill-metadata: any of: SKILL\.md$
